{% extends 'base.html' %}

{% block title %}
ABOUT PAGE
{% endblock %}

{% block content %}
<div style="background-color: #101820; color: #fee715; padding: 10px 15px;">
   <p style="background-color: #101820; color: #fee715; padding: 5px 10px; border-bottom: 1px solid #fee715; text-shadow: 0 0 1px #fee715; font-family: serif; font-size: 1.5em; width: 10em; margin: 0.5em auto; padding-bottom: 0.5em;">ABOUT US</p>
      <p style="font-family: 'Courier New'; font-size: 1em; line-height: 1.5; padding: 10px 5px; margin-bottom: 10px; line-height: 1.5; margin-top: 30px;">People probably query about Satta King Online. How can we play satta games online and try our luck and become rich in minimum time? People love to talk about Satta Games and love to find out about Satta Games online. Satta games are like a trend in India. People are involved in Satta Games. We did not play Satta Games at our website but for users we shared with people for their help. Last year it's increasing day by day. Do you know why people love the Satta King Game? Because Satta gives you money like a magician who doesn't love money, everyone wants money.<br /><br />
        No efforts just try your luck in Satta King and earn money in some time. After trying your luck in Satta King you need to find out Satta King online website for getting results. No one wants to wait because no one has time and also wants to save their time. Our website is the best solution for them. We provide Fastest Satta King online live results. Our website is shared on a regular basis. If you want last year's specific month and day Satta King result you need to just select month date year.With in minute you will get Satta Result Online.</p>

</div>

{% endblock %}
