{% extends 'base.html' %}

{% block title %}
Delete User
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div style="display: flex; flex-direction: column; padding: 10px; background-color: #fff; border-radius: 5px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
  <form method="POST" style="display: flex; flex-direction: column; align-items: start; gap: 10px; border: 0.6px solid #222; padding: 20px; border-radius: 5px; margin: auto;">
    {% csrf_token %}
    <h2 style="text-align: center; font-size: 22px; margin-bottom: 40px; color: #333; width: 100%; font-family: serif; text-decoration: underline;">Deletion Form</h2>
    <div style="display: grid; grid-template-columns: 2fr 4fr; padding-bottom: 10px; align-items: center; margin-bottom: 10px;">
      <label for="username" style="text-align: left; font-weight: 300;">USERNAME :</label>
      <input type="text" id="username" name="username" value="{{ checked_user.username }}" readonly style="background-color: #eee; border: none; border-bottom: 0.8px solid #222; padding: 5px; color: #000; text-shadow: 0.5px 0.5px #222; font-size: 16px; filter: opacity(0.6);">
    </div>
    
    <div style="display: grid; grid-template-columns: 2fr 4fr; padding-bottom: 10px; align-items: center; margin-bottom: 10px;">
      <label for="firstname" style="text-align: left; font-weight: 300;">FIRST NAME :</label>
      <input type="text" id="firstname" name="firstname" value="{{ checked_user.first_name }}" style="background-color: #eee; border: none; border-bottom: 0.8px solid #222; padding: 5px; color: #000; text-shadow: 0.5px 0.5px #222; font-size: 16px; filter: opacity(0.6);" readonly>
    </div>

    <div style="display: grid; grid-template-columns: 2fr 4fr; padding-bottom: 10px; align-items: center; margin-bottom: 10px;">
      <label for="lastname" style="text-align: left; font-weight: 300;">LAST NAME :</label>
      <input type="text" id="lastname" name="lastname" value="{{ checked_user.last_name }}" style="background-color: #eee; border: none; border-bottom: 0.8px solid #222; padding: 5px; color: #000; text-shadow: 0.5px 0.5px #222; font-size: 16px; filter: opacity(0.6);" readonly>
    </div>
    
    <div style="display: grid; grid-template-columns: 2fr 4fr; padding-bottom: 10px; align-items: center; margin-bottom: 10px;">
      <label for="email" style="text-align: left; font-weight: 300;">EMAIL :</label>
      <input type="email" id="email" name="email" value="{{ checked_user.email }}" readonly style="background-color: #eee; border: none; border-bottom: 0.8px solid #222; padding: 5px; color: #000; text-shadow: 0.5px 0.5px #222; font-size: 16px; filter: opacity(0.6);">
    </div>

    <div style="display: grid; grid-template-columns: 2fr 4fr; padding-bottom: 10px; align-items: center; margin-bottom: 10px;">
      <label for="staff" style="text-align: left; font-weight: 300;">IS STAFF :</label>
      <input type="checkbox" id="staff" name="staff" {% if checked_user.is_staff %}checked{% endif %} disabled>
    </div>

    
    <div>
      
       <h4 style="text-align: left; font-weight: 300;">
          User Permissions:
       </h4>
       <ul style="list-style: none; margin-top: 10px;">
          {% for userPerm in permission %}
         <li style="color: green; font-weight: 300; font-size: 10px; margin-left: 15px; text-align: left; margin-bottom: 4px;">{{ userPerm }}</li>
    {% endfor %}
       </ul>
       
    </div>
    
    
    <div style="display: grid; grid-template-columns: 3fr 3fr; padding-bottom: 10px; align-items: center; margin-bottom: 10px; width: 100%; gap: 10px; margin-top: 20px;">
      <button type="submit" style="background-color: #fff; color: red; border: none; border-radius: 20px; padding: 10px 0; border: 0.5px solid red; font-size: 16px; cursor: pointer; transition: background-color 0.3s ease;">DELETE</button>
      <a href="{% url 'coadmin' %}" style="background-color: #fff; color: #337ab7; border: none; border-radius: 20px; padding: 10px 0; border: 0.5px solid #337ab7; font-size: 16px; cursor: pointer; transition: background-color 0.3s ease;">BACK</a>
    </div>
  </form>
</div>


{% endif %}
{% endblock %}